<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    </configSections>
    <system.identityModel>
        <identityConfiguration>
            <audienceUris>
            </audienceUris>
            <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089">
                <trustedIssuers>
                </trustedIssuers>
            </issuerNameRegistry>
            <certificateValidation certificateValidationMode="None" />
        </identityConfiguration>
    </system.identityModel>
    <connectionStrings>
        <add name="UnitTestSecurityTokenCacheContext" connectionString="Data Source=localhost;Initial Catalog=dummy;Integrated Security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <!-- Make https://www.nuget.org/packages/XmlSpecificationCompare/ happy (match redirect to actual nunit.framework version) -->
                <assemblyIdentity name="nunit.framework" culture="neutral" publicKeyToken="2638cd05610744eb" />
                <bindingRedirect oldVersion="3.4.1.0" newVersion="3.7.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>